@charset "UTF-8";


.nav-style{
	margin-left: 4%;
}
.registration-form{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.registration-list{
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}