@charset "UTF-8";


.nav-style{
	margin-left: 4%;
}
.registration-form{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.registration-list{
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}

.registration-list-edit{
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	
}

.registration-list-edit h1{
	
	margin-left: 1%;
}

.selects-registrar-servico{
	margin-top: 1%;
}

.btn-registrar-servico{
	margin-top: 2%;
}

#select-cliente{
	width: 50%;
}

#select-funcionario{
	width: 47.3%;
}

#select-servico{
	width: 43.6%;
}

#select-pagamento{
	width: 41.5%;
}

#select-observacao{
	width: 47.0%;
}